@model Order

<div class="row orderForm ">
    <h3 class="text-center">Заповніть дані для замовлення</h3>

    <form>
        <div>
            <input asp-for="LastName" />
        </div>
        <div>
            <input asp-for="FirstName" />
        </div>
        <div>
            <input asp-for="AddressLine1" />
        </div>
        <div>
            <input asp-for="AddressLine2" />
        </div>
        <div>
            <input asp-for="ZipCode" />
        </div>
        <div>
            <input asp-for="State" />
        </div>
        <div>
            <input asp-for="State" />
        </div>
        <div>
            <input asp-for="Country" />
        </div>
        <div>
            <input asp-for="PhoneNumber" />
        </div>
        <div>
            <input asp-for="Email" />
        </div>
    </form>
</div>