<h1>Some text info</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2>Some text info</h2>
            <p>
                Some text info
            </p>
        </div>

        <div class="col-md-12">
            <h2>Some text info</h2>
            <p>
                Some text info
            </p>
        </div>

        <div class="col-md-12">
            <h2>Some text info</h2>
            <p>
                Some text info
            </p>
        </div>
    </div>
</div>