<h1>Надмірне споживання алкоголю шкідливе для вашого здоров'я</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2>Алкоголь не рятує від депресії</h2>
            <p>
                Тверезники та алкоголіки мають приблизно однакові шанси розвинути депресію — 70% та 80% відповідно. А люди, що п’ють келих вина щодня, мають найнижчі шанси. Але люди часто не п’ють вимушено: через хронічні хвороби чи брак грошей, тож можуть впасти в депресію не через нестачу етилового спирту в крові, а через свою життєву ситуацію та брак спілкування з друзями в шинку. Важливо розрізняти причини та наслідки.
            </p>
        </div>

        <div class="col-md-12">
            <h2>“Вміти пити” погано</h2>
            <p>
                Якщо ви п’єте, і не п’янієте, значить, ваші ферменти алкогольдегідрогенази вправно руйнують алкоголь. Тим часом людина продовжує пити, бо не відчуває сп’яніння і гадає, що все під контролем. Але спирт в печінці стає оцтовим альдегідом — сполукою також токсичною для організму. І руйнувати його мають уже інші ферменти, які можуть діяти повільно. Краще “не вміти пити”, тобто мати малоефективні алкогольдегідрогенази і рано спинятися.
            </p>
        </div>
        <div class="col-md-12">
            <h2>Безпечної дози алкоголю не існує</h2>
            <p>
                Як би ми не прагнули пити “помірковано”, алкоголь діє на кожну клітину тіла і їй шкодить. Алкоголь збільшує ризик деменції, раку підшлункової, стравоходу, печінки, прямої кишки, молочної залози. Люди, які надмірно споживають алкоголь, мають вищі ризики серцево-судинних хвороб, гіпертензії та абдомінального ожиріння. Крім цього, алкоголь погіршує поглинання вітамінів кишківником.
            </p>
        </div>
        <div class="col-md-12">
            <h2>Алкоголь не подовжує життя</h2>
            <p>
                Навпаки. Преса та блоги поширюють міф, начебто кава та алкоголь подовжують життя -— довгожителі п’ють і те, і те. Але це викривлення та перекручування інформації. Ровесники століття з чаркою та філіжанкою просто мають хороші гени, та, ймовірно, інші бонуси буття
            </p>
        </div>
        <div class="col-md-12">
            <h2>Не поєднуйте каву та алкоголь</h2>
            <p>
                Це офіційна заборона, крім того, що алкоголь шкідливий. У разі похмілля кава допомагає не усім. З іншого боку, кофеїн допомагає подолати абстинентний синдром, тобто якщо людина пила і раптом вирішила зав’язати. Крім цього, кава істотно знижує ризик раку печінки, особливо в людей, що перехворіли на гепатит С і зловживають алкоголем, але якщо вони вже не п’ють.
            </p>
        </div>
        <div class="col-md-12">
            <h2>Мозок жінок та чоловіків реагує на алкоголь по-різному</h2>
            <p>
                У жінок, що страждають на алкоголізм, в мозкові суттєві збільшені ділянки, що відповідають за задоволення та заохочення поведінки. А в чоловіків навпаки. При цьому алкоголь в чоловіків викликає вдвічі більший викид дофаміну (медіатору, що бере участь в заохоченні), ніж в жінок. Цим нині пояснюють більшу поширеність алкоголізму серед чоловіків. Також науковці вважають, що мозок жінок більш вразливий до пошкодження алкоголем.
            </p>
        </div>
        <div class="col-md-12">
            <h2>Алкоголь погіршує здатність міркувати логічно та раціонально</h2>
            <p>
                Часто при цьому активується ризикова сексуальна поведінка, тобто незахищений секс з випадковими партнерами. З іншого боку, падіння тиску через сильну інтоксикацію подекуди робить ерекцію неможливою, а алкоголізм вважають предиктором (точним передвісником) сексуальних негараздів. Пам’ятайте про це.
            </p>
        </div>
        <div class="col-md-12">
            <h2>Алкоголь змінює роботу генів</h2>
            <p>
                Йдеться про гени, що залучені в обмін холестерину, підтримання цілісності судин, нейропластичності, та рецепторів нейромедіаторів. Ці зміни називаються епігенетичні, тобто поверх генів нанесли мітки, які змінили активність генів. Досить часто епігенетичні зміни тривалі і навіть можуть передаватися наступним поколінням. Алкоголізм призвозводить до того, що гени запускають різні процеси — мозок гірше контролює поведінку, рівень холестерину та запальний фон в тілі зростають. Часто це поєднується із накопиченням вісцерального жиру — універсального покажчика ранньої смертності, особливо в чоловіків. Втім, епігенетичні зміни і запалення внаслідок алкоголізму та вісцерального ожиріння можна частково спинити завдяки фізичним навантаженням та відмови від алкоголю. Навіть якщо всі ці аргументи вас не навернули до шанування води, кави та чаю — ніколи не сідайте за кермо, якщо випили. Будь-яка кількість алкоголю в крові може вплинути на навички водіння та підвищує ризики потрапити в аварію.
            </p>
        </div>
    </div>
</div>